<!--<h1>Hello World</h1>
<h1>Title {{title}}</h1>
<h1>Welcome {{myname}}</h1>
<h1>{{getValue()}}</h1>
<h1>2+2</h1>
<h1>{{2+2}}</h1>
<h1>{{title1=="hell123o"}}</h1>
<h1>{{title1=="hello" ? "Hello" : "World"}}</h1>
<h1>{{fruits.length}}</h1>
<h1 class="{{g_color}}">Color Green Property as class</h1>
<h1 class={{g_color}}>Color Green Property as class</h1>
-->
<!--
    <h1>Things we cant do in interpolation</h1>
    <h1>{{title2="Hello"}}</h1> 
    <h1>{{typeof num}}</h1>
-->

<!-- <app-test></app-test> -->
<!-- <div class="app-test"></div> 
<div id="app-test"></div>-->

<!--<app-test1></app-test1>

<app-test-template-inline></app-test-template-inline>
<app-test-style-inline></app-test-style-inline>
<app-test-template-style-inline></app-test-template-style-inline>
-->

<!--<h1>{{getData()}}</h1>
<button (click)="btnClick()">Click Me</button>
<button (click)="btnClickWithPara(12)">Click Me</button>
<button (click)="btnClickWithPara('Hello World')">Click Me</button>
<button (click)="btnClickWithMultiPara(12,45,568,3)">Click Me</button>
<button (click)="resOperator(12,467,764,45)">Click Me</button>

<h1 (mouseenter)="mouseEnterFun()">Hello World!!!</h1>
<h1 (mouseleave)="mouseLeaveFun()">Hello World!!!</h1>

<h1 (mouseenter)="mouseEnterFun()" (mouseleave)="mouseLeaveFun()">Hello World!!!</h1>

<button (click)="btnClickWithPara1('Hello')">Click Me</button>
-->

<!--<input type="text" #input1 (keyup)="onKeyUpFun(input1.value)"/>
<input type="text" #input2 (keydown)="onDownUpFun(input2.value)"/>
<button (click)="thisFun(this)">Click Me</button>
<button (click)="clickCount()">Click Count</button>
<h1>Clicked {{count}}</h1>
-->

<!--<style>
    .heading{
        color:green;
    }
</style>
<button (click)="counter(1)">Count ++</button>
<h1 class="heading">Count {{newCount}}</h1>
<button (click)="counter(0)">Count --</button>
<app-login></app-login>
<app-register></app-register>
-->

<!--<h1 class="{{myTitle}}">Hello</h1>
<h1 [class]="myTitle">myTitle</h1>


<input type="text" value={{myName}} disabled={{a}}/>
<br><br>
<input type="text" [value]=myName [disabled]="a"/>

<h1 *ngIf="show">
    Hello World
</h1>


<h1 *ngIf="show else elseHeading ">
    Hello World
</h1>
<ng-template #elseHeading>
    <h1>Hello Bhavna</h1>
</ng-template>
-->
<!--<ng-template [ngIf]="color=='red'">
    <h1>Hello, Color is red</h1>
</ng-template>
<ng-template [ngIf]="color=='green'">
    <h1>Hello, Color is Green</h1>
</ng-template>
<ng-template [ngIf]="color=='blue'">
    <h1>Hello, Color is Blue</h1>
</ng-template>
-->
<!--<div [ngSwitch]="color">
    <h1 style="color:red" *ngSwitchCase="'red'">Color: red</h1>
    <h1 style="color:blue" *ngSwitchCase="'blue'">Color: blue</h1>
    <h1 style="color:green" *ngSwitchCase="'green'">Color: green</h1>
    <h1 style="color:orange" *ngSwitchCase="'orange'">Color: orange</h1>
    <h1 *ngSwitchDefault> Cant match with any color</h1>
</div>
-->

<!--<ul *ngFor="let username of users">
    <li>{{username}}</li>
</ul>
-->

<!--<ul *ngFor="let userData of users">
    <li>{{userData.name}}</li>
    <li>{{userData.email}}</li>
    <li> Social Accounts
        <ul *ngFor="let acc of userData.socialAcc">
            <li>{{acc}}</li>
        </ul>
    </li>
</ul>
-->
<!--<button (click)="changeColor()">Change Color</button>
<h1 [style.color]="mainColor" [style.background]="bgColor">Hello World</h1>


<button (click)="toggleElement()">Toggle</button>
<h1 *ngIf="display">Hello World</h1>

-->

<app-basic-form></app-basic-form>
